* {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #40E1D1;
}

body {
    background: url(./img/stars.jpg) no-repeat center center fixed;
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
